#cloud-config
hostname: {{ vm_hostname }}
fqdn: {{ vm_hostname }}.{{ vm_domain }}
package_upgrade: false
#manage_etc_hosts: true
users:
  - name: bblasco
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    # home: /home/bblasco
    shell: /bin/bash
    # passwd + lock_passwd: false together let cloud-init set and unlock the
    # account password in the users module, avoiding the lock_passwd warning
    # introduced in cloud-init 22.2.
    lock_passwd: false
    passwd: bblasco
    plain_text_passwd: bblasco
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCY9P2Hh1ultuvNlBGHxQGNYlDkB35Z/kPQNR+tfsYaO2gGLhbtkVI0uoXf5SewEz5ecH+u8jHIPElXZz227h5PpxhZFzfokqUJ/U3mbEpu1/Krf4/eERCqIgz2nmXoGLlOJHgMk4MpK6LA6eb6SXZHLpxFicbEcCxUU3A9hbzhWUGDaMFG7CcExT5JAD/7VcniONxZhlJxUzyL1xmbmAN13DQpiUkew25VtuNHby1fYTgMxVaezUMfMwZn6qpNJUDXGCKX1NWv5kqB9yFxRIQbFS4zAkQPXH6w7eksNyknexRDwM1zghnaspSvE1Kn2RWIaKt5hmaoKozJuC9YnCwJ bblasco@localhost.localdomain
  - name: ansiblerunner
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    # home: /home/ansiblerunner
    shell: /bin/bash
    lock_passwd: false
    #passwd: ansiblerunner
    plain_text_passwd: ansiblerunner
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCY9P2Hh1ultuvNlBGHxQGNYlDkB35Z/kPQNR+tfsYaO2gGLhbtkVI0uoXf5SewEz5ecH+u8jHIPElXZz227h5PpxhZFzfokqUJ/U3mbEpu1/Krf4/eERCqIgz2nmXoGLlOJHgMk4MpK6LA6eb6SXZHLpxFicbEcCxUU3A9hbzhWUGDaMFG7CcExT5JAD/7VcniONxZhlJxUzyL1xmbmAN13DQpiUkew25VtuNHby1fYTgMxVaezUMfMwZn6qpNJUDXGCKX1NWv5kqB9yFxRIQbFS4zAkQPXH6w7eksNyknexRDwM1zghnaspSvE1Kn2RWIaKt5hmaoKozJuC9YnCwJ bblasco@localhost.localdomain

# Allow password authentication via SSH and console
ssh_pwauth: true
disable_root: false

# Modern chpasswd format (chpasswd.list multiline string was deprecated in 22.2).
# Only root is listed here; named users above have their passwords set inline.
chpasswd:
  expire: false
  users:
    - name: root
      password: root
      type: text

# Enable the QEMU agent so I can get info about the system:
# Following guidance from:
# https://dustymabe.com/2015/08/03/installingstarting-systemd-services-using-cloud-init/
runcmd:
  - [ systemctl, enable, --now, --no-block, qemu-guest-agent.service ]

# Log message below written to /var/log/cloud-init.log, /var/log/messages
final_message: "The system is finally up, after $UPTIME seconds"
